
body {
  background-color: black;
}

#main-container {
  margin: 3% 3% 0% 0%;
}

.demo-card-wide.mdl-card {
  background: black;
  width: 100%;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 180px;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.favorite {
  margin-left: 2%;
}

.unselected {
  color: grey;
}

.selected {
  color: magenta;
}

.search-title {
  color: white;
  margin-left: 5%;
  font-size: 24px;
}

.search-updatedAt {
  color: grey;
  font-size: 16px;
}

.mdl-button.mdl-button--colored {
  color: cyan;
}
