
body {
  background-color: black;
}

#main-container {
  margin: 3% 3% 0% 0%;
}

#searchbar {
  margin: 0% 0% 0% 2%;
  height: 70px;
  display: inline-flex;
}

#loading {
  margin: 5% 5% 0% 0%;
}

#show-favs {

}

.viewoption {
  margin: 5% 0%;
}

.go-button {
  color: white;
    font-size: 32px;
}

.mdl-textfield__input {
  font-size: 32px;
  color: white;
}

.mdl-textfield__label {
  font-size: 30px;
  color: grey;
}

.demo-card-wide.mdl-card {
  background: black;
  width: 100%;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 180px;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.favorite {
  margin-left: 2%;
}

.unselected {
  color: grey;
}

.selected {
  color: magenta;
}

.search-title {
  color: white;
  margin-left: 5%;
  font-size: 24px;
}

.search-updatedAt {
  color: grey;
  font-size: 16px;
}

.mdl-button.mdl-button--colored {
  color: cyan;
}
